pkgbase = runtool
	pkgdesc = A.K.A. run - the bridge between human and AI tooling
	pkgver = 0.3.20
	pkgrel = 1
	url = https://github.com/nihilok/run
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	source = runtool-0.3.20.tar.gz::https://github.com/nihilok/run/archive/refs/tags/v0.3.20.tar.gz
	sha256sums = 2930a2d4df5271115e6ee0d7c723cd36ba7f8287354ffcb6b578301c78b77048

pkgname = runtool
