pkgbase = runtool
	pkgdesc = A.K.A. run - the bridge between human and AI tooling
	pkgver = 0.3.29
	pkgrel = 1
	url = https://github.com/nihilok/run
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	source = runtool-0.3.29.tar.gz::https://github.com/nihilok/run/archive/refs/tags/v0.3.29.tar.gz
	sha256sums = 080667b37227630cf96010900fdee3e5b5e68c8ffcded2c4af70d8554f006bd7

pkgname = runtool
